<%= form_for(@mybook) do |f| %>

    <% if @mybook.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mybook.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @mybook.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :Price %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :Subject %>
      <%= collection_select(:mybook, :mysubject_id, Mysubject.all, :id, :name) %>

    </div>

    <div>
      <%= f.label :Description %>
      <%= f.text_area :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>