<table id="example" style=" width: 100%" >
  <thead>
  <tr>

    <th>Title</th>

    <th>Show</th>
    <th>Edit</th>
    <th>Issue</th>
    <th>Destroy</th>


  </tr>
  </thead>
  <tbody>
  <% @mybooks.each do |book| %>
      <tr>
        <td> <%= book.title %> </td>
        <td> <%= link_to 'Show', book %> </td>
        <td>
          <% if can? :update, @mybook %>
              <%= link_to "Edit", edit_mybook_path(book.id) %>
          <% end %>
        </td>
        <td>
          <a id="issue" onclick="issueBook('<%= book.id  %>','<%= book.title %>')" href="#"> Issue </a>
        </td>
        <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div id="dialog" title="Basic dialog" style="display: none">
  <%= render 'issue' %>
</div>

<script>
    function issueBook(book_id, book_name) {

        var mybook = book_id.toString();

        document.getElementById("title").innerHTML = book_name;

        $("#book_user_mybook_id").val(mybook);

        $( "#dialog" ).dialog();
        alert ("hello") ;

    }

    $(document).ready(function() {
        $('#example').dataTable();
    } );

    /*  $("#issue").click(function(){
     $( "#dialog" ).dialog();
     });*/

</script>