<%= form_for(@bookuser) do |f| %>

    <div>
      <h1><%= @book.title  %> </h1>
    </div>
    <div>
      <%= f.label :Book %>
      <%= collection_select(:bookuser, :mybook_id, Mybook.all, :id, :title) %>

    </div>
    <div>
      <%= f.label :User %>
      <%= collection_select(:user, :user_id, User.all, :id, :name) %>

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>