<h1>Add new book</h1>


<%= form_for @mybook  do |f| %>
    <% if @mybook.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mybook.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @mybook.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tr>
        <td> Title:</td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td>Subject:</td>
        <td> <%= collection_select(:mybook, :mysubject_id, Mysubject.all, :id, :name) %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td> <%= f.text_area :description %></td>
      </tr>

      <tr>
        <td colspan="2" class="actions" style=" text-align: center; "  ><br /> <%= f.submit %></td>

      </tr>
    </table>
    <div class="actions">

    </div>




    <%  end %>
<%= link_to 'Back', mybooks_path %>

