<% if @bookusers.blank? %>
    <p>There are not any books currently in the system.</p>
<% end %>
<h1>Listing Users</h1>


<table>
  <tr>

    <th>user_id</th>
    <th>mybook_id</th>
    <th>issuedate</th>
    <th>returndate</th>
    <th>returned</th>
    <th></th>
  </tr>

  <% @bookusers.each do |bookuser| %>

      <tr>
        <% user_name = User.find(bookuser.user_id) %>
        <td> <%= user_name.name %> </td>
        <% book_name = Mybook.find(bookuser.mybook_id) %>
        <td><%= book_name.title  %></td>
      <!--  t.strftime("The date is %m/%d/%y") -->
        <% idate = bookuser.issuedate %>
        <td><%= idate.strftime("%m/%d/%y") %></td>
        <% rdate = bookuser.returndate %>
        <td><%= rdate.strftime("%m/%d/%y")%></td>
        <td><%= link_to 'Return', bookuser, :confirm => 'Are you sure?', :method => :delete %></td>

      </tr>
  <% end %>
</table>