<h1>Listing subjects</h1>

<table>
  <tr>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @mysubjects.each do |subject| %>
      <tr>
        <td><%= mysubject.name %></td>
        <td><%= link_to 'Show', mysubject %></td>
        <td><%= link_to 'Edit', edit_subject_path(mysubject) %></td>
        <td><%= link_to 'Destroy', mysubject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
