



<h1> <%= @mysubject.name %></h1>
<% if @mysubject.mybooks.blank? %>
    <p> There are not any books curently in the subject </p>
<% end %>
<table>
  <% @mysubject.mybooks.each do |c|  %>
    <tr>
        <td> <%= c.title  %></td>
        <td><%= link_to 'Show', :controller => :mybooks, :action => :show,  :id => c.id  %></td>
    </tr>
  <% end %>
</table>
<br />
<% if can? :update, @mysubject %>
    <%= link_to 'Edit', edit_mysubject_path(@mysubject) %> |
<% end %>
<%= link_to 'Back', mysubjects_path %>